{% extends "admin/change_form.html" %}
{% block after_field_sets %}
{{ block.super }}
{% if zmall_category_slugs_json is not None %}
<input type="hidden" name="{{ adminform.form.prefix }}_zmall_category_slugs" value="{{ zmall_category_slugs_json|force_escape }}" id="id_{{ adminform.form.prefix }}_zmall_category_slugs">
<fieldset class="module">
  <h2>Additional images</h2>
  <p class="description">Upload extra product images here (multiple at once). They appear in addition to the main image.</p>
  <div class="form-row">
    <input type="file" name="zmall_additional_images" multiple accept="image/*">
  </div>
</fieldset>
{% endif %}
{% endblock %}
